In [9]:
import pandas as pd 

data = pd.read_csv("abalone.data", names=["sex", "length", "diameter", "height", "whole_weight",
                                           "shucked_weight", "Viscera_weight", "shell_weight", "rings"] )

In [12]:
data = data.join(pd.get_dummies(data["sex"])

      F  I  M
0     0  0  1
1     0  0  1
2     1  0  0
3     0  0  1
4     0  1  0
5     0  1  0
6     1  0  0
7     1  0  0
8     0  0  1
9     1  0  0
10    1  0  0
11    0  0  1
12    0  0  1
13    1  0  0
14    1  0  0
15    0  0  1
16    0  1  0
17    1  0  0
18    0  0  1
19    0  0  1
20    0  0  1
21    0  1  0
22    1  0  0
23    1  0  0
24    1  0  0
25    1  0  0
26    1  0  0
27    0  0  1
28    0  0  1
29    0  0  1
...  .. .. ..
4147  0  0  1
4148  0  0  1
4149  0  1  0
4150  0  1  0
4151  0  1  0
4152  0  1  0
4153  0  1  0
4154  0  1  0
4155  0  1  0
4156  0  0  1
4157  0  0  1
4158  0  1  0
4159  1  0  0
4160  1  0  0
4161  1  0  0
4162  0  0  1
4163  0  1  0
4164  0  1  0
4165  0  1  0
4166  0  1  0
4167  0  0  1
4168  1  0  0
4169  0  0  1
4170  0  0  1
4171  0  0  1
4172  1  0  0
4173  0  0  1
4174  0  0  1
4175  1  0  0
4176  0  0  1

[4177 rows x 3 columns]

In [15]:
data = data.drop(columns=["sex"])

In [16]:
X = data.drop(columns=["rings"])
y = data[["rings"]]

In [20]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [21]:
from utils.validation import validation
help(validation)

Help on function validation in module utils.validation:

validation(model, X, y, method='cv', cv=5, problem='cls')
    :param problem:
    :param model: model to evaluate
    :param X: features
    :param y: labels
    :param method: type of evaluation
    :param cv: number of folds
    :return: return the usual scores for variety of methods
    cross validation
    cross validation time series
    cross validation

In [23]:
validation(rf, X, y, "ts", 5, problem='re')

C:\Users\issam\Desktop\dshelp\utils\validation.py:60: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train)

KeyError: 'neg_mean_absolute_error'